button {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3vh;
    padding: 2vh 6vh;
    font-weight: 900;
    border: 3px solid white;
    color: white;
    margin: 0 auto;
    box-shadow: 1px 1px 3px #114161;
    background: none;
    display: block;
    width: auto;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.6s;
    cursor: pointer;
}
button:hover {
    border: 3px solid #23a3ec;
    color: #23a3ec;
    transform: translateY(3px);
}