button {
    font-family: "Alegreya", serif;
    font-size: 3vh;
    padding: 1vh 7vh;
    font-weight: 900;
    color: black;
    margin: 0 auto;
    background: white;
    display: block;
    width: auto;
    transition: all 0.6s ease-in-out;
    transition-duration: 0.6s;
    cursor: pointer;
}

button:hover {
    border-color:$hover-color;
    color: $hover-color;
}
.data-table {
    button, span {
        width: 120px;
        padding: .375rem .75rem;
        border: 1px solid white;
        color: white;
        margin: 0.5rem auto;
        background: none;
        display: block;
        font-size: 1rem;
        font-weight: 700;
        font-family: initial;
        border-radius: 5px;
        transition: all 0.6s ease-in-out;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.6s;
    }
}