/* --------------------------------------- */
/* --------------- header-------------- */
/* --------------------------------------- */

header {
    display: flex;
    position: fixed;
    height: max(10vh, 65px);
    box-shadow: black 0px 1px 10px;
    background-image: linear-gradient(to right, #2f78a8, #114161);
    font-family: "Anton", sans-serif;
    z-index: 100;
}

//------------------ nav --------------------

nav {
    display: flex;
    align-items: center;
    width: 100vw;
    .knopkes{
        position: absolute;
        left: 0px;
        text-align: center;
        right: 0px;
        svg {
            filter: drop-shadow($shadow-deep);
            path{
                fill:$fills;
            }
        }
    }
}

//------------------ logo paveiksliukas ---------------------

.logo-pic{
    position: absolute;
    left:1rem;
    margin: auto;
    img{
        height: max(5vh, 45px);
        filter: drop-shadow($shadow-deep);
        vertical-align: auto;
    }
}
.logo-pic:hover{
    filter:brightness(50%) sepia(100) saturate(100) hue-rotate(25deg) drop-shadow(0 0.2rem 0.2rem #00000075);
}

//-------------------- logo textas --------------------------

.logo{
    position: absolute;
    max-width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    h6{
        font-size: 2.5rem;
        margin: 0;
        text-align: center;
        text-shadow: $shadow;
    }
}

//------------------- burger -------------------

.burger{
    position: absolute;
    right: 1rem;
    margin: auto;
    cursor: pointer;
    div{
        width: 30px;
        height: 3px;
        background-color: lightskyblue;
        margin: 7px;
        border-radius: 15px;
        transition: all 0.3s ease;
    }
}

//-------------------- nav-links --------------------

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        align-self: center;
    }
    a{
        text-decoration: none;
        color: white;
        letter-spacing: 5px;
        text-shadow: $shadow;
    }
}

//------------------ mega-nav ---------------------

.meganav-links{
    display: flex;
    position: absolute;
    transform: translateX(100%);
    opacity: 0.7;
    filter: blur(8px);
    transition: transform ease-in-out 1s, opacity ease-in-out 1s, filter ease-in-out 1s;
    width: 100%;
    top: max(10vh, 65px);
    background: #296c99bf;
    height: max(90vh, calc(100vh - 65px));
    padding: 1rem;
}
.mega-active{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
}

//----------------- Burger x closes ---------------

.toggle .line1{
    transform: rotate(-45deg) translate(-7px, 7px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-7px, -7px);
}

//----------------- media queries ---------------------

@media screen and (min-width:1200px){
    .logo {
        display: block!important;
        transform: translate(0);
        left: 0;
        right: 0;
        top: 0;
        h6 {
            font-size: 2.5rem;
            letter-spacing: 0.8rem;
        }
    }
    .logo, .logo-pic, .burger{
        position: relative!important;
    }
    .knopkes {
        display: none!important;
    }
    .nav-links {
        display: flex!important;
        margin: 0 2rem;
        a {
            font-size: 1.35rem;
            letter-spacing: .5vh;
            color: lightskyblue;
            transition: color 0.5s ease;
            &:hover {
            color: white;
            }
        }
    }
}

@media screen and (max-width:1199px){
    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        background-color:#2f78a8;
        font-size: 20px;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        li{
            opacity: 0;
            font-size: 24px;
        }
    }
    .burger{
        display: block;
        div{
            background-color: white;
        }
    }
    .logo{
        cursor: pointer; 
    }
}

@media screen and (max-width:576px){
    header {
        bottom: 0;
        transition: all 2s;
    }
    .knopkes {
        display: none;
        svg {
            width: 2.5rem;
            height: 3rem;
            margin: .3rem;
        }
        a {
            text-decoration: none;
        }
    }
    nav {
        bottom: 0;
    }
    .nav-links {
        bottom: 10vh;
        top: -90vh;
        padding: 5rem 0;
    }
    .meganav-links{
        display: none!important;
    }
    .nav-active {
        background-image: $gradient;
        transform: translateX(0%);
        li:nth-child(1){
            animation: navLinkFade 1s ease 0.54s forwards;
        }
        li:nth-child(2){
            animation: navLinkFade 1s ease 0.58s forwards;
        }
        li:nth-child(3){
            animation: navLinkFade 1s ease 0.62s forwards;
        }
        li:nth-child(4){
            animation: navLinkFade 1s ease 0.66s forwards;
        }
        li:nth-child(5){
            animation: navLinkFade 1s ease 0.7s forwards;
        }
        li:nth-child(6){
            animation: navLinkFade 1s ease 0.74s forwards;
        }
        li:nth-child(7){
            animation: navLinkFade 1s ease 0.78s forwards;
        }
        li:nth-child(8){
            animation: navLinkFade 1s ease 0.82s forwards;
        }
        li:nth-child(9){
            animation: navLinkFade 1s ease 0.86s forwards;
        }
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}