//--------------------------
//---- Media max 576px ----
//--------------------------

@media screen and (max-width: 576px) {
    h1, h6 {
        font-size: 4rem;
    }
    p {
        font-size: 2.5rem;
        line-height: 4.5rem;
    }
    .remejai img {
        zoom: 0.7;
    }
    section {
        flex-direction: column;
        h4 {
            padding-top: 0;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 300;
        }
    }
}
