//--------------------------
//---- Media min 576px ----
//--------------------------

@media screen and (min-width: 576px) {
    h1, h6 {
        font-size: 4rem;
    }
    p {
        font-size: 2.5rem;
        line-height: 4.5rem;
    }
    section {
        flex-direction: column;
        h4 {
            padding-top: 0;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 300;
        }
    }
    .knopkes {
        display: none;
        svg {
            width: 2.5rem;
            height: 3rem;
            margin: .3rem;
        }
        a {
            text-decoration: none;
        }
    }
    header {
        top: 0;
    }
}
