//---------------------------------
//-------- Media max 420px --------
//---------------------------------

@media screen and (max-width: 420px) {
    h1, h6 {
        margin-top: 1rem;
        font-size: 3.5rem;
        line-height: 2.5rem;
    }
    h2 {
        margin: auto;
        text-align: center;
    }
    h3 {
        font-size: 1.3rem;
        margin: 10px;
        text-align: center;
    }
    p {
        font-size: 1.3rem;
        line-height: 2rem;
        color: $text-color;
    }
    .knopkes {
        display: none;
        svg {
            width: 2.5rem;
            height: 3rem;
            margin: .3rem;
        }
    }
    .listas {
        font-family: 'Source Sans Pro';
        list-style: none;
        font-weight: 600;
        line-height: 2.3rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 0;
        width: 85vw;
        margin: 2rem auto;
        li {
            margin: 5px;
        }
        a {
            text-decoration: none;
            color: $text-color;
        }
    }
    .remejai {
        img {
            zoom: 0.5;
        }
    }
    .landing__second {
        img {
        margin: 0px 0 60px;
        filter: invert(1);  
        }
    }
    .landing__third {
        h2 {
            color: $text-color;
        }
    }
    .info {
        margin: auto;
        p {
            color: black;
            font-size: 1rem;
        }
    } 
    .nuoma {
        width: 80vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1 {
            margin-top: 0rem;
        }
        .carousel {
            height: 260px;
            margin: 10px 0;
            box-shadow: none;
        }
        .accordion__content {
            display: flex;
        }
    }

    .rent img {
        width: 60%;
    }
    .camp {
        color: white;
        h2 {
            margin-top: 93px;
            text-align: center;
        }
        h3 {
            margin: 75px 10px 0;
        }
    }
    .content {
        overflow: hidden;
        padding-bottom: 8vh;
        height: 92vh;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s3-apacia {
        margin: 0 0 3rem;
    }
    .stars {
        svg {
            height: 27px;
            width: 27px;
        }
    }
    .logo {
        transform: translateY(-55px);
        animation-name: logo-knpk;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: both;
        .knopkes{
            display: block;
        }
    }
    //------ .logo animation -------
    @keyframes logo-knpk {
        from {transform: translateY(-55px);}
        to {transform: translateY(0px);}
    }



    .bg-gradient {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        z-index: 2;
        animation: gradient 15s ease infinite;
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }

    nav {
        bottom: 0;
    }
    .nav-links {
        bottom: 8vh;
        top: -92vh;
    }
//----------- contacts page specific --------------
    
    .contacts__content {
        font-family: 'Source Sans Pro';
        font-weight: 900;
        justify-content: space-around;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        background-color: rgb(74, 82, 82);
        text-align: center;
        text-shadow: $shadow;
        color: white;
        h3  {
            margin: 0;
            color: $text-color;
        }
        h2 {
            margin: 0;
            font-size: 1.3rem;
        }
        img {
            display: block;
            width: 100px;
            margin: auto;
        }
        a {
            text-decoration: none;
            color: $text-color;
            text-shadow: none;
        }
        .menu {
            a {
                text-decoration: none;
                color: white;
                box-sizing: border-box;
                text-shadow: none;
                border: 3px solid;
                padding: .375rem .75rem;
                font-size: 1.3rem;
                margin-right: -.4rem;
                border-radius: .25rem;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
            a:hover {
                background-color: $text-color;
                color: $alt-text-color;
                border-color: $text-color;
            }
        }
        .about {
            margin: 0 1rem;
        }
        ul {
            @include clear;
            font-size: 1.2rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: auto;
            list-style: none;
            width: 75vw;
        }
    }

//----------- pamokos page specific --------------
    .pamokos {
        h1 {
            margin: 1rem 0 0;
        }
        h2 {
            color: $text-color;
            text-shadow: $shadow;
            margin: 0;
        }
        h3 {
            text-shadow: none;
        }
    }

//----------- stovykla page specific --------------
 
    .stovykla::-webkit-scrollbar {
        display: none;
    }
    .stovykla {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        color:$text-color;
        img {
            width: 90%;
            margin: 5%;
        }
        .contain {
            width: 95%;
        }
        h1 {
            font-size: 2.5rem;
            margin: 1rem auto 0;
        }
        h2 {
            font-size: 1.5rem;
            text-shadow: $shadow;
        }
        h2:last-of-type {
            margin-bottom: 2rem;
        }
        h3 {
            font-size: 1rem;
            font-weight: 400;
        }
        a {
            color: $text-color;
        }
        a:hover {
            color: $alt-text-color;
        }
    }
    .stovykla.content {
        overflow: scroll;
    }

}