//--------------------------
//---- Media min 1200px ----
//--------------------------

@media screen and (min-width: 1200px) {
    h1 {
        line-height: 13vh;
        font-size: 15vh;
        margin: auto;
    }
    .small {
        zoom: 0.75;
    }
    p {
        font-size: 8vh;
        line-height: 8vh;
    }
    .content {
        padding-top: 8vh;
        height: 92vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .remejai img {
        zoom: 0.9;
    }

    .heading__first {
        display: flex;
        max-width: 85vw;
        flex-wrap: wrap;
        margin: auto;
        h1 {
            line-height: 8rem;
            margin: 5rem auto 0;
        }
    }
    .landing__second {
        img {
            text-align: center;
            filter: invert(1);
        }
    }
    .landing__third, .s3-apacia {
        h2:nth-child(1) {
            margin: 4rem auto 0;
        }
    }

    .stars {
        svg {
            height: 50px;
            width: 50px;
        }
    }
    .listas {
        display: none;
    }
    .s3-apacia {
        text-align: center;
        h2 {
        color: $alt-text-color;
        }
    }

    .content {
        text-align: center;
    }
//----pamokos page specifics ------
    .pamokos {
        .akordionas {
            display: none;
        }
        h1 {
            line-height: 11vh;
            font-size: 13vh;
        }
        h2 {
            color: white;
            font-size: 3rem;
            margin: 0;
        }
        & > div {
            margin: auto;
        }
    }
    .pamoka-box {
        div {
            width: 30%;
            background: white;
            margin-bottom: 2rem;
        }
        width: 90vw;
    }
}