$shadow : 0 0.2rem 0.5rem #00000075;
$shadow-deep : 0 0.2rem 0.2rem #00000075;
$gradient : linear-gradient(to right, #2f78a8, #114161);
$text-color :white;
$fills :white;
$alt-text-color :#114161;

@mixin main-text {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 900;
    color: $text-color;
    margin: auto;
    text-shadow: $shadow;
    max-width: 85vw;
}
@mixin clear {
    margin: 0;
    padding: 0;
}

@import 'header';
@import 'backs';
@import 'button';
@import 'carousel';
@import 'accordion';
@import 'media-1200';
@import 'media-576';
@import 'media-420';

* {
    margin: 0;
    padding: 0;

}

body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro';
}
h1, p, h2 {
    @include main-text;
}

.fp-right {
    right: 0;
}
.stars {
    text-align: center;
    color: $text-color;
    fill: currentColor;
    p {
        color: $text-color;
    }
    svg {
        filter: drop-shadow(2px 2px 3px black);
    }
}
.listas {
    font-family: 'Source Sans Pro';
    list-style: none;
    font-weight: 600;
    line-height: 2.3rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    width: 80vw;
    margin: 2rem auto;
    li {
        margin: 5px;
    }
    a {
        text-decoration: none;
        color: $alt-text-color;
    }
}
.varzybos {
    section {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 90vw;
        img:nth-child(1) {
            height: 120px;
        }
        img:nth-child(2) {
            height: 94px;
        }
        img:nth-child(3) {
            height: 153px;
        }
        img:nth-child(4) {
            height: 90px;
        }
    }
}

.rent img {
    height: 260px;
    margin: 10px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    color: black;
    padding: 0;
    margin: auto;
    h3 {
        text-align: center;
        text-shadow: $shadow;
        margin-top: 0;
        margin-bottom: 0;
        margin: 0;
        background:white;
        padding: 10px;
        color: $alt-text-color;
        font-size: 1.2rem;
    }
    h4 {
        text-align: center;
        line-height: 1.6rem;
        padding-top: 10px;
        margin: 10px;
        font-size: 1.2rem;
    }
}

//----------- contacts page specific --------------

.knopkes {
    svg {
        filter: drop-shadow($shadow-deep);
        path{
            fill:$fills;
        }
    }
}

//---------- Side fullpage nav dots ------------
ul span {
    background: $fills !important;
    box-shadow: 0px 0px 3px white;
}