@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Source Sans Pro";
  cursor: default;
}

h1, p, h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-weight: 900;
  color: white;
  margin: auto;
  text-shadow: 0 0.2rem 0.5rem #00000075;
  max-width: 85vw;
}

a {
  text-decoration: none;
}

.fp-right {
  right: 0;
}

.f-small {
  font-size: 1rem;
}

.vh-92 {
  min-height: 92vh;
}

.shadow-box {
  box-shadow: 0 0.2rem 0.5rem #00000075;
}

.h-200 {
  height: 200px !important;
}

.h-160 {
  height: 160px !important;
}

.w-90 {
  width: 90% !important;
}

.clip {
  overflow: hidden;
}

.bg-def {
  background-image: linear-gradient(to right, #2f78a8, #114161);
}

.lg {
  display: none;
}

#fullpage ul span {
  background: white !important;
  box-shadow: 0px 0px 3px white;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blink {
  text-decoration: blink;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.bg-grad {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  z-index: 3;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.stars {
  text-align: center;
  color: white;
  fill: currentColor;
}
.stars p {
  color: white;
}
.stars svg {
  filter: drop-shadow(2px 2px 3px black);
}

.listas {
  font-family: "Source Sans Pro";
  list-style: none;
  font-weight: 600;
  line-height: 2.3rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
  width: 80vw;
  margin: 2rem auto;
}
.listas li {
  margin: 5px;
}
.listas a {
  text-decoration: none;
  color: #114161;
}

.varzybos section {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 90vw;
}
.varzybos section img:nth-child(1) {
  height: 120px;
}
.varzybos section img:nth-child(2) {
  height: 94px;
}
.varzybos section img:nth-child(3) {
  height: 153px;
}
.varzybos section img:nth-child(4) {
  height: 90px;
}

.rent img {
  height: 260px;
  margin: 10px;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  color: black;
  padding: 0;
  margin: auto;
}
section h3 {
  text-align: center;
  text-shadow: 0 0.2rem 0.5rem #00000075;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  background: white;
  padding: 10px;
  color: #114161;
  font-size: 1.2rem;
}
section h4 {
  text-align: center;
  line-height: 1.6rem;
  padding-top: 10px;
  margin: 10px;
  font-size: 1.2rem;
}

.pagination {
  justify-content: center;
}

.knopkes svg {
  filter: drop-shadow(0 0.2rem 0.2rem #00000075);
}
.knopkes svg path {
  fill: white;
}

.social img {
  width: 120%;
  margin-bottom: 2vw;
  box-shadow: none !important;
}

.parama h3 {
  color: white;
  font-size: 1.2rem;
  font-family: alegreya;
  font-weight: bold;
}

/* --------------------------------------- */
/* ---------------NAVIGATION-------------- */
/* --------------------------------------- */
header {
  display: flex;
  position: fixed;
  min-height: 8vh;
  max-height: 8vh;
  box-shadow: black 0px 1px 10px;
  background-image: linear-gradient(to right, #2f78a8, #114161);
  font-family: "Anton", sans-serif;
  z-index: 100;
}
header nav {
  display: flex;
  align-items: center;
  width: 100vw;
}

#fp-nav .fp-right {
  right: 0;
}

.fp-slidesNav.fp-bottom {
  bottom: 0px;
}

.logo-pic {
  margin: auto;
}
.logo-pic img {
  max-height: 5vh;
  filter: drop-shadow(0 0.2rem 0.2rem #00000075);
  vertical-align: auto;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: auto auto auto 1rem;
}
.logo h6 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  text-shadow: 0 0.2rem 0.5rem #00000075;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0;
  padding: 0;
}
.nav-links li {
  list-style: none;
  align-self: center;
}
.nav-links a {
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
  text-shadow: 0 0.2rem 0.5rem #00000075;
}

.meganav-links {
  position: absolute;
  transform: translateX(100%);
  transition: transform ease-in-out 1s;
  width: 100%;
  top: 5vh;
  background: #296c99bf;
  height: 95vh;
  padding: 2rem;
}

.mega-active {
  transform: translateX(0%);
  display: flex;
}

.burger {
  margin: auto;
  cursor: pointer;
}
.burger div {
  width: 30px;
  height: 3px;
  background-color: lightskyblue;
  margin: 7px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1200px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    background-color: #2f78a8;
    font-size: 20px;
    width: 65%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger div {
    background-color: white;
  }

  .nav-links li {
    opacity: 0;
    font-size: 24px;
  }

  .logo {
    cursor: pointer;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
    background-image: linear-gradient(to right, #2f78a8, #114161);
  }

  .nav-active li:nth-child(1) {
    animation: navLinkFade 1s ease 0.54s forwards;
  }
  .nav-active li:nth-child(2) {
    animation: navLinkFade 1s ease 0.58s forwards;
  }
  .nav-active li:nth-child(3) {
    animation: navLinkFade 1s ease 0.62s forwards;
  }
  .nav-active li:nth-child(4) {
    animation: navLinkFade 1s ease 0.66s forwards;
  }
  .nav-active li:nth-child(5) {
    animation: navLinkFade 1s ease 0.7s forwards;
  }
  .nav-active li:nth-child(6) {
    animation: navLinkFade 1s ease 0.74s forwards;
  }
  .nav-active li:nth-child(7) {
    animation: navLinkFade 1s ease 0.78s forwards;
  }
  .nav-active li:nth-child(8) {
    animation: navLinkFade 1s ease 0.82s forwards;
  }
  .nav-active li:nth-child(9) {
    animation: navLinkFade 1s ease 0.86s forwards;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.blur {
  filter: blur(8px);
}

.fullpage-wrapper {
  transition: filter 0.5s 0.2s linear;
}

@media screen and (min-width: 1200px) {
  .s1 {
    background: url("../img/11.jpg") center center;
    background-size: cover;
  }

  .s2 {
    background: url("../img/12.jpg") center;
    background-size: cover;
  }

  .s4 {
    background: url("../img/13.jpg") center;
    background-size: cover;
  }

  .s14 {
    background: url("../img/14.jpg") center;
    background-size: cover;
  }

  .s12 {
    background: url("../img/21.jpg") center;
    background-size: cover;
  }

  .s3 {
    background: url("../img/camp-1200.jpg") center;
    background-size: cover;
    height: 100vh;
  }

  .s13 {
    background: url("../img/41.jpg") center;
    background-size: cover;
  }

  .s5 {
    background-size: cover;
    background-image: linear-gradient(to right, #2f78a8, #114161);
  }
}
@media screen and (max-width: 1199px) {
  .s1 {
    background: url("../img/home-900.jpg") center center;
    background-size: cover;
  }

  .s2 {
    background: url("../img/12.jpg") center;
    background-size: cover;
  }

  .s4 {
    background: url("../img/13.jpg") center;
    background-size: cover;
  }

  .s14 {
    background: url("../img/14.jpg") center;
    background-size: cover;
  }

  .s12 {
    background: url("../img/21.jpg") center;
    background-size: cover;
  }

  .s3 {
    background: url("../img/camp-1200.jpg") center;
    background-size: cover;
  }

  .s13 {
    background: url("../img/41.jpg") center;
    background-size: cover;
  }

  .s5 {
    background-size: cover;
    background-image: linear-gradient(to right, #2f78a8, #114161);
  }
}
@media screen and (max-width: 576px) {
  .s1 {
    background: url("../img/home-600.jpg") center center;
    background-size: cover;
  }

  .s2 {
    background: url("../img/train-600.jpg") center;
    background-size: cover;
  }

  .s4 {
    background: url("../img/landing-4-600.jpg") center;
    background-size: cover;
  }

  .s14 {
    background: url("../img/travel-600.jpg") center;
    background-size: cover;
  }

  .s12 {
    background: url("../img/comp-600.jpg") center;
    background-size: cover;
  }

  .s3 {
    background: url("../img/camp-600.jpg") center;
    background-size: cover;
  }

  .s13 {
    background: url("../img/group-600.jpg") center;
    background-size: cover;
  }

  .s5 {
    background-image: linear-gradient(to right, #2f78a8, #114161);
    background-size: cover;
  }
}
@media screen and (max-width: 375px) {
  .s1 {
    background: url("../img/11m.jpg") center center;
    background-size: cover;
  }

  .s2 {
    background: url("../img/train-600.jpg") center;
    background-size: cover;
  }

  .s14 {
    background: url("../img/travel-375.jpg") center;
    background-size: cover;
  }

  .s12 {
    background: url("../img/comp-600.jpg") center;
    background-size: cover;
  }

  .s3 {
    background: url("../img/landing-3-600.jpg") center;
    background-size: contain;
  }

  .s13 {
    background: url("../img/group-600.jpg") center;
    background-size: cover;
  }

  .s5 {
    background-image: linear-gradient(to right, #2f78a8, #114161);
    background-size: cover;
  }
}
button {
  font-family: "Alegreya", serif;
  font-size: 3vh;
  padding: 1vh 7vh;
  font-weight: 900;
  color: black;
  margin: 0 auto;
  background: white;
  display: block;
  width: auto;
  transition: all 0.6s ease-in-out;
  transition-duration: 0.6s;
  cursor: pointer;
}

button:hover {
  border-color: #23a3ec;
  color: #23a3ec;
}

.data-table button, .data-table span {
  width: 120px;
  padding: 0.375rem 0.75rem;
  border: 1px solid white;
  color: white;
  margin: 0.5rem auto;
  background: none;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  font-family: initial;
  border-radius: 5px;
  transition: all 0.6s ease-in-out;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.6s;
}

.is-hidden {
  display: none;
}

.track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.track-container .carousel-track {
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.track-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.track-container ul Li {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.track-container ul Li img {
  object-fit: cover;
  border-radius: 0.4rem;
}

.modal .carousel {
  max-width: 1000px;
  width: 100% !important;
  margin-bottom: 0 !important;
  height: auto !important;
}
.modal .modal-dialog {
  max-width: fit-content;
}

.carousel {
  position: relative;
  height: 100%;
  width: 270px;
  margin: 0 auto;
  transition: 0.5s ease-in-out 0.5s;
}
.carousel button {
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  box-shadow: none;
  background: transparent;
  margin: 0;
  border: none;
  padding: 5px;
  cursor: pointer;
  transform: translateY(-50%);
}
.carousel button img {
  width: 2rem;
  filter: invert(100%);
}
.carousel button:focus {
  outline: transparent;
}
.carousel .b-right {
  right: -2.5rem;
}
.carousel .b-left {
  left: -2.5rem;
  z-index: 2;
}

.accordion__button {
  display: block;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s;
}

.accordion__button::after {
  content: "▾";
  float: right;
  transform: scale(1);
}

.accordion__button--active::after {
  content: "▴";
  float: right;
}

.accordion__container {
  margin: 5px auto;
  width: 100%;
  background: white;
  box-shadow: 0 0.2rem 0.5rem #00000075;
}
.accordion__container img {
  position: absolute;
  height: 24px;
  fill: white;
  z-index: 2;
  margin: 10px;
}

@media screen and (min-width: 1200px) {
  h1 {
    line-height: 11vh;
    font-size: 13vh;
    margin: 1rem auto;
  }

  .link {
    margin: 2rem auto;
    background: white;
    padding: 0 1rem;
    border-radius: 3px;
  }

  .lg {
    display: block;
    max-width: 1280px;
    margin: auto;
  }

  .sm {
    display: none;
  }

  p {
    font-size: 8vh;
    line-height: 8vh;
  }

  .logo {
    display: block !important;
  }

  .logo h6 {
    font-size: 3vh;
    letter-spacing: 0.8vw;
  }

  .logo-pic {
    margin: auto 1rem auto 2rem;
    padding: 0.5rem;
  }
  .logo-pic img {
    max-height: 3vh;
  }

  .knopkes {
    display: none !important;
  }

  header {
    top: 0;
    min-height: 5vh;
    max-height: 5vh;
  }

  .nav-links {
    margin: 0 2rem;
  }
  .nav-links a {
    font-size: 1rem;
    letter-spacing: 0.5vh;
    color: lightskyblue;
    transition: color 0.5s ease;
  }
  .nav-links a:hover {
    color: white;
  }

  .meganav-links a {
    color: lightblue;
    transition: color 0.5s ease;
    letter-spacing: 0.1rem;
  }
  .meganav-links a:hover {
    color: white;
  }
  .meganav-links li {
    list-style: none;
  }

  .career-list__item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #d3dbe3;
    border-style: solid;
    border-width: 1px 0;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    color: inherit;
    margin-bottom: 0;
    box-shadow: none;
  }

  .job-hover:hover {
    transform: translateX(50px);
    transition: all 0.5s ease;
  }
  .job-hover {
    transition: all 0.5s ease;
  }

  .content {
    min-height: 100vh;
    padding-top: 5vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .rekvizitai {
    margin-bottom: 2rem;
  }

  .content nav {
    width: auto;
  }

  .heading__first {
    display: flex;
    max-width: 85vw;
    flex-wrap: wrap;
    margin: auto;
  }
  .heading__first h1 {
    line-height: 8rem;
    margin: 5rem auto 0;
  }

  .landing__first {
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: auto !important;
    margin: 2rem;
  }
  .landing__first h1 {
    line-height: 2rem;
  }

  .landing__second {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: auto !important;
    margin: 2rem;
  }
  .landing__second h1 {
    line-height: 1rem;
  }
  .landing__second img {
    text-align: center;
    filter: invert(1);
  }

  .landing__third {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: auto !important;
    margin: 2rem;
  }
  .landing__third h1 {
    line-height: 12rem;
    font-size: 15rem;
    margin: 10rem 2rem;
  }

  .stars svg {
    height: 50px;
    width: 50px;
  }

  .listas {
    display: none;
  }

  .s3-apacia {
    text-align: center;
  }
  .s3-apacia h2 {
    color: #114161;
  }

  .content {
    text-align: center;
  }

  .stovykla .carousel {
    width: 500px;
    height: 250px;
    margin-bottom: 2rem;
  }
  .stovykla .carousel .b-right {
    right: 0.5rem;
  }
  .stovykla .carousel .b-left {
    left: 0.5rem;
  }
  .stovykla button img {
    margin-bottom: 0;
    box-shadow: none;
    width: 1.2rem;
  }

  .lg__info {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.2vw;
    padding: 3vh 0;
    margin: auto;
  }
  .lg__info h2 {
    box-shadow: 0 0.2rem 0.5rem #00000075;
    padding: 0.5rem 0;
  }
  .lg__info h3 {
    font-family: "Alegreya", serif;
  }
  .lg__info h4 {
    font-size: 1.2rem;
  }
  .lg__info ul {
    font-family: alegreya;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    text-shadow: none;
    line-height: 1.5rem;
    color: white;
    margin: auto;
  }

  .side-title {
    background-image: linear-gradient(to right, #2f78a8, #114161);
    padding: 0;
  }

  .content-side {
    margin-left: 2vw;
    width: 40%;
  }
  .content-side h2 {
    background-image: linear-gradient(to right, #2f78a8, #114161);
    padding: 0;
    margin-bottom: 1rem;
  }
  .content-side img {
    width: 100%;
    margin-bottom: 2vw;
    box-shadow: 0 0.2rem 0.5rem #00000075;
  }
  .content-side .elastic {
    width: 50%;
    box-shadow: none;
  }

  .pamokos-form {
    width: 100%;
    background: white;
    overflow: auto;
  }

  .pamokos-form > div {
    margin: 1rem auto;
  }

  .description h2 {
    font-size: 1.5rem;
  }
  .description h3 {
    font-size: 1.2rem;
    font-family: "Alegreya", serif;
    padding: 0 1rem;
  }
  .description .lygis {
    text-transform: uppercase;
    background-image: linear-gradient(to right, #2f78a8, #114161);
  }
  .description .col {
    box-shadow: 0 0.2rem 0.5rem #00000075;
    background-color: white;
    padding: 0;
  }

  .wi-80 {
    width: 80%;
  }

  table tr {
    display: inherit;
  }

  .kuponas {
    text-align: justify;
    background: white;
    margin-bottom: 2vw;
    font-size: 2.5vh;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.5rem #00000075;
  }
  .kuponas h4:nth-of-type(1) {
    font-family: "Alegreya", serif;
    margin-bottom: 1.5rem;
  }
  .kuponas h3 {
    margin: 0;
  }

  #pamaina {
    width: 250px;
  }

  select {
    font-size: initial;
  }

  table {
    margin: auto;
    color: white;
    font-family: "Alegreya";
  }
  table tr {
    display: inherit;
    text-align: center;
    font-weight: 600;
  }
  table td {
    min-width: 150px;
  }

  .content-box {
    width: 60%;
    max-width: 1120px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
  }
  .content-box a {
    color: black;
    text-decoration: none;
  }
  .content-box > div {
    background: white;
    position: relative;
    margin-bottom: 2vw;
    font-size: 2.5vh;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.5rem #00000075;
  }
  .content-box > div h4:nth-of-type(1) {
    font-weight: 900;
  }
  .content-box > div h4:nth-of-type(2) {
    margin: 1.5rem 0;
  }
  .content-box p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: left;
    font-family: alegreya;
    text-shadow: none;
    margin-bottom: 1rem;
  }
  .content-box p::first-letter {
    font-size: 150%;
  }
  .content-box svg {
    float: right;
  }
  .content-box > div:nth-child(odd) img {
    float: right;
    margin-left: 1rem;
  }
  .content-box > div:nth-child(even) img {
    float: left;
    margin-right: 1rem;
  }

  .lesson a {
    color: black;
    text-decoration: none;
  }
  .lesson > div {
    background: white;
    position: relative;
    margin-bottom: 2vw;
    font-size: 2.5vh;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.5rem #00000075;
  }
  .lesson > div h4:nth-of-type(1) {
    position: absolute;
    color: #266894;
    right: 1rem;
    top: 1rem;
    font-weight: 900;
    font-size: 1.5rem;
  }
  .lesson > div h4:nth-of-type(2) {
    margin: 1.5rem 0;
  }
  .lesson > div h3 {
    margin: 0;
    background: linear-gradient(161deg, #134567 0%, #256690 20%, rgba(47, 120, 168, 0.37) 42%, rgba(0, 212, 255, 0) 65%, rgba(0, 212, 255, 0) 100%);
    color: white;
    text-align: left;
    padding-left: 1rem;
  }

  .career-list__item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #d3dbe3;
    border-style: solid;
    border-width: 1px 0;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    color: inherit;
    margin-bottom: 0;
    box-shadow: none;
  }

  .job-hover:hover {
    transform: translateX(50px);
    transition: all 0.5s ease;
  }
  .job-hover {
    transition: all 0.5s ease;
  }

  .varzybos img {
    width: 25%;
    margin: 1rem;
    box-shadow: none;
  }

  .hov {
    transition: all 0.5s ease-in-out;
  }
  .hov:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 576px) {
  h1, h6 {
    font-size: 4rem;
  }

  p {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }

  section {
    flex-direction: column;
  }
  section h4 {
    padding-top: 0;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
  }

  .knopkes {
    display: none;
  }
  .knopkes svg {
    width: 2.5rem;
    height: 3rem;
    margin: 0.3rem;
  }
  .knopkes a {
    text-decoration: none;
  }

  header {
    top: 0;
  }
}
@media screen and (max-width: 480px) {
  h1, h6 {
    margin-top: 1rem;
    font-size: 3.5rem;
    line-height: 3.2rem;
  }

  h2 {
    margin: auto;
    text-align: center;
    color: #114161;
  }

  h3 {
    font-size: 1.3rem;
    margin: 10px;
    text-align: center;
  }

  p {
    font-size: 1.3rem;
    line-height: 2rem;
    color: white;
  }

  .w-90 {
    width: 90vw;
  }

  .clip {
    height: 35px;
    overflow: clip;
  }

  .h-120p {
    height: 120px !important;
  }

  header {
    bottom: 0;
  }

  .knopkes {
    display: none;
  }
  .knopkes svg {
    width: 2.5rem;
    height: 3rem;
    margin: 0.3rem;
  }
  .knopkes a {
    text-decoration: none;
  }

  .meganav-links {
    display: none !important;
  }

  .section {
    transition: all 2s;
  }

  .landing__second h2 {
    font-size: 3.5vh;
    color: white;
  }
  .landing__second img {
    margin: 0px 0 60px;
    filter: invert(1);
  }
  .landing__second .s3-apacia {
    margin: 2rem 0;
  }

  .landing__third h1 {
    margin: 0 auto;
  }
  .landing__third h1:nth-child(1) {
    margin-top: 2rem;
  }
  .landing__third h2 {
    color: white;
  }
  .landing__third .s3-apacia {
    margin: 0 0 3rem;
  }
  .landing__third .s3-apacia h2 {
    color: white;
  }

  .info {
    margin: auto;
    text-align: center;
  }
  .info p {
    color: black;
    font-size: 1rem;
  }

  .camp {
    color: white;
  }
  .camp h2 {
    margin-top: 93px;
    text-align: center;
  }
  .camp h3 {
    margin: 75px 10px 0;
  }

  .content {
    overflow: hidden;
    padding-bottom: 8vh;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .cont {
    overflow: hidden;
    padding-bottom: 8vh;
    height: 92vh;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .articles h1 {
    font-size: 1.5rem;
  }
  .articles h2 {
    color: white;
    font-size: 1.2rem;
  }
  .articles p {
    font-size: 1.2rem;
    font-family: initial;
    max-width: 100%;
  }
  .articles div {
    width: 100% !important;
  }
  .articles img {
    margin: 1rem 0;
  }

  .stars {
    margin: 0 auto 3rem;
  }
  .stars svg {
    height: 27px;
    width: 27px;
  }
  .stars p {
    color: white;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .logo, .knopkes {
    display: block;
  }

  .knopkes {
    display: none;
  }

  nav {
    bottom: 0;
  }

  .nav-links {
    bottom: 8vh;
    top: -92vh;
    padding: 5rem 0;
  }

  .contacts__content {
    font-family: "Source Sans Pro";
    font-weight: 900;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    text-shadow: 0 0.2rem 0.5rem #00000075;
    color: white;
  }
  .contacts__content h3 {
    margin: auto;
    color: white;
  }
  .contacts__content h2 {
    margin: auto;
    font-size: 1.3rem;
  }
  .contacts__content img {
    display: block;
    width: 100px;
    margin: auto;
  }
  .contacts__content a {
    text-decoration: none;
    color: white;
    text-shadow: none;
  }
  .contacts__content .menu a {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    text-shadow: none;
    border: 2px solid;
    padding: 0.1rem 0.3rem;
    font-size: 1.1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .contacts__content .menu a:hover {
    background-color: white;
    color: #114161;
    border-color: white;
  }
  .contacts__content .about {
    margin: 0 1rem;
  }
  .contacts__content ul {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    list-style: none;
    width: 75vw;
  }

  .pamokos h1 {
    margin: 1rem 0 0;
  }
  .pamokos h2 {
    color: white;
    text-shadow: 0 0.2rem 0.5rem #00000075;
    margin: 0;
  }
  .pamokos h3 {
    text-shadow: none;
  }

  .pamoka-box {
    display: none;
  }

  .description h2 {
    font-size: 1.1rem !important;
    max-width: 100%;
  }
  .description .col {
    background: #1c567c;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .description .col h2:last-of-type {
    margin: 0;
  }

  .burelis {
    font-family: initial;
  }
  .burelis h1 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 2rem;
    margin: 1rem;
  }
  .burelis h2 {
    color: white;
    font-size: 1.25rem;
    margin: 1rem;
  }
  .burelis p {
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: white;
    max-width: unset;
    margin: 1rem 0;
  }
  .burelis li {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: 0 0.2rem 0.5rem #00000075;
  }

  .stovykla {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    color: white;
  }
  .stovykla h1 {
    font-size: 2.5rem;
    margin: 1rem auto 0;
  }
  .stovykla h2 {
    font-size: 1.5rem;
    text-shadow: 0 0.2rem 0.5rem #00000075;
  }
  .stovykla h2:last-of-type {
    margin-bottom: 2rem;
  }
  .stovykla h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  .stovykla a {
    color: white;
  }
  .stovykla a:hover {
    color: #114161;
  }

  .content {
    overflow: scroll;
  }

  .content::-webkit-scrollbar {
    display: none;
  }

  .kainos {
    display: flex;
    justify-content: space-around;
    margin: 0 0 2rem;
    font-size: 1.3rem;
  }

  dt {
    text-decoration-line: underline;
    text-decoration-color: #114161;
    color: #114161;
  }

  .nuoma {
    color: white;
    height: 100vh;
  }
  .nuoma h3 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 4px;
  }
  .nuoma img {
    width: 90%;
    margin: 5%;
  }

  .rent img {
    width: 60%;
  }

  .varzybos {
    height: 100vh;
  }
  .varzybos h4 {
    text-align: center;
  }
  .varzybos h3 {
    line-height: 1rem;
  }
  .varzybos h2 {
    margin: auto;
    text-align: center;
    line-height: 1.7rem;
    font-size: 2rem;
  }
  .varzybos section {
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .varzybos section img:nth-child(1) {
    height: 40px;
    filter: brightness(0) invert(0);
  }
  .varzybos section img:nth-child(2) {
    height: 25px;
    filter: brightness(0) invert(0);
  }
  .varzybos section img:nth-child(3) {
    height: 55px;
  }
  .varzybos section img:nth-child(4) {
    height: 30px;
  }

  .skelbimai h4 {
    font-size: 1rem;
    font-family: Alegreya;
  }
}

/*# sourceMappingURL=style.css.map */
